
CREATE TABLE [dbo].[characters](
	[name] [varchar](250) NULL,
	[comics] [int] NULL,
	[resourceURI] [varchar](max) NULL,
	[description] [varchar](max) NULL,
	[thumbnail] [varchar](max) NULL,
	[id] [int] NULL
) 

